---
layout: page
---

<p><center><a href="{{ site.baseurl }}" style="color: #000000">Retourner à l'accueil du site</a></center></p>

{% if site.categories[page.category] %}
{% if site.antichrono contains page.category %}
{% for post in site.categories[page.category] %}
        {% include thumb_post.html %}
{% endfor %}
{% else %}
{% for post in site.categories[page.category] reversed %}
        {% include thumb_post.html %}
{% endfor %}
{% endif %}
{% else %}
  <h3>
     <b>
        <center>Il n'y a pas d'articles pour le moment !</center>
     </b>
  </h3>
{% endif %}
