---
layout: default
---
<style type="text/css">
#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}
 
</style>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <p><center><a href="{{ site.baseurl }}" style="color: #000000">Retourner à l'accueil du site</a></center></p>

    <h2>
     <b>
        {{ page.title | escape }}
     </b>
    </h2>
    {% include page_date.html %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div id="share-buttons">
          <h3>Partager cet article : </h3>
          <a href="http://www.facebook.com/sharer.php?url=" + {{ post.url | absolute_url }} + ";" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          <a href="https://twitter.com/share?url=" + {{ post.url | absolute_url }} + ";" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
          </a>
    </div>

</article>
